<h1><%= @park.name %></h1>
<p>Admissions: $<%= @park.price %></p>

<p>Rides:</p>
<ol>
  <% @park.rides.each do |ride| %>
  <li><%= ride.name %></li>
  <% end %>
</ol>

<p>Average Thrill Rating of Rides: <%= @park.average_thrill_rating %>/10</p>
